@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 300px;
    transition: 0.5s;
    margin-bottom: 100px;
}

h1.bigTitle {
    font-size:150%;
    font-family: 'Cinzel', serif;
    text-align: center;
}

h1 {
    font-family: 'Staatliches', cursive;
}
p.caption {
    font-size: 50%;
}

img.banner {
    position:relative;
    margin-left: -10px;
    margin-top: -10px;
}

.navMenu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 0px; 
    height: 0px; 
    position: fixed;
    z-index: 1; 
    top: 0.05;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s; 
  }

.navMenu::after{
    z-index:-1;
    position:absolute;
    vertical-align: center;
    left:0;
    top:0;
    content: url('https://images8.alphacoders.com/559/559128.jpg');
    opacity:0.15;
}

.navMenu ul {
    list-style: circle;
    padding-left: 0;
    margin-left: 50px;
}

.navmenu li {
    padding-left: 0;
    margin-left: 0;
    text-indent: 0;
}

.buttonbanner {
    background-color:bisque;
}

.openBtn {
    position: absolute;
    height:100%;
    border:none;
    background-color: bisque;
    color: black;
    cursor: pointer;
    font-size: 125%;
}

.openBtn:hover {
    background-color: lightskyblue;
}

.navMenu a {
    margin-right: 0px;
    text-align: center;
}

.navMenu a:hover {
    color: lightskyblue;
}

.hidden{
    display: none;
}