@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 300px;
    transition: 0.5s;
    margin-bottom: 100px;
}


h1.bigTitle {
    font-size:200%;
    font-family: 'Cinzel', serif;
    text-align: center;
}

h1 {
    font-family: 'Staatliches', cursive;
}
p.caption {
    font-size: 60%;
}

.navMenu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 0px; 
    height: 0px; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s; 
  }

.navMenu::after{
    z-index:-1;
    position:absolute;
    vertical-align: center;
    left:0;
    top:0;
    content: url('https://images8.alphacoders.com/559/559128.jpg');
    opacity:0.15;
}

.navMenu ul {
    list-style: circle;
    padding-left: 0;
    margin-left: 50px;
}

.navmenu li {
    padding-left: 0;
    margin-left: 0;
    text-indent: 0;
}

button {
    border: rgb(4,159,190) 2px solid;
    background-color: white;
    color: black;
    transition: 0.35s;
}
.openBtn {
    margin-top: 5px;
    position: absolute;
    width:100px;
    border: rgb(4,159,190) 2px solid;
    background-color: white;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.closebtn {
    position: absolute;
    left: 175px;
    border: rgb(255, 128, 128) 2px solid;
}

button:hover {
    background-color: rgb(4, 159, 190);
    color: white;
}

.closebtn:hover {
    background-color: rgb(255, 128, 128);
    color:white;
}

.navMenu a {
    margin-right: 0px;
    text-align: center;
}

.navMenu a:hover {
    color: lightskyblue;
}

.hidden{
    display: none;
}